@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import "reset.css";
@import "components/status-bar.css";
@import "variables.css";
@import "screens/login.css";
@import "screens/find.css";
@import "screens/setting.css";
@import "screens/chat.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/friends.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/more.css";
@import "components/alt-screen-header.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  height: 1000vh;
  padding: 1px;
  color: #2f363e;
}

.main-screen {
  padding: 0px 15px;
}
