#chat-screen {
  background-color: #abc1d1;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d1;
  z-index: 2; /*.message__info i을 absolute해서 그런지 스크롤을 올렸을 때 헤더 위에 둥둥뜬다. 그래서 이걸 2로 놓고 bubble을 1로 놓으면 정상작동된다.*/
}

#chat-screen .main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}

.chat-time {
  color: white;
  background-color: #92a4b2;
  text-align: center;
  padding: 8px 12px;
  font-size: 13px;
  opacity: 0.7;
  border-radius: 15px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 21px;
  margin-right: 8px;
}

.message__info {
  display: flex;
}

.message__bubble {
  background-color: white;
  padding: 15px;
  border-radius: 17px;
  margin-top: 7px;
  margin-right: 7px;
  margin-left: 7px;
  z-index: 1;
}

.message__name,
.message__time {
  opacity: 0.6;
}

.message__time {
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}

.message__info i {
  position: absolute;
  color: white;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__info {
  justify-content: flex-end;
}

.message-row--own .message__info i {
  color: var(--yellow);
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
}

.reply {
  display: flex;
  background-color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  align-items: center;
}

.reply__column:first-child {
  width: 10%;
  opacity: 0.5;
}

.reply__column:last-child {
  position: relative;
  width: 90%;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 5px;
  top: 6px;
}

.reply__column:last-child > i {
  font-size: 23px;
  top: 9px;
  right: 45px;
  border-color: rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

.reply input {
  width: 100%;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 12px 14px;
  box-sizing: border-box;
}

.reply__column:last-child button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--yellow);
  border: none;
}
