#chat-screen {
  background-color: #abc1d1;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d1;
  z-index: 1;
}

#chat-screen .main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}

.chat-time {
  color: white;
  background-color: #92a4b2;
  text-align: center;
  padding: 7px;
  font-size: 13px;
  opacity: 0.7;
  border-radius: 15px;
}
