.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 35px;
}

.find-icons__icon span {
  margin-top: 18px;
  text-align: center;
}

.recommended-friends {
  margin-bottom: 18px;
  margin-top: 25px;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.3);
}

.recommended-friends span {
  margin: 100px 0;
  text-align: center;
  display: block;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 18px;
}

.open-chat__header span {
  opacity: 0.5;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtag {
  text-transform: uppercase; /*모두 대문자로 변환*/
  opacity: 0.6;
}

.open-opst__members {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.open-opst__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.6;
}

.open-opst__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.open-chat__member-status {
  color: #ff93d5;
}

.open-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.open-post__photo img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 5px 8px;
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.open-post__photo {
  position: relative;
}
