.alt-header {
  margin-top: 23px;
  padding: var(--hor-space);
  display: flex;
  align-items: center; /*가로로 가운데*/
  font-size: 23px;
  font-weight: 1000;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
