.alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin-top: 23px;
  padding: var(--hor-space);
  display: flex;
  align-items: center; /*가로로 가운데*/
  font-size: 23px;
  font-weight: 1000;
  background-color: white;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 15px;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}
