.nothing {
  margin: 47px;
}

#friend-display-link {
  background-color: #fafafa;
  padding: 13px;
  width: 100%;
  display: block; /*이걸 해줘야 width 100%가 적용된다. */
  text-align: center;
  margin-bottom: 10px;
}

#friend-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friend-screen {
  padding: 0px var(--hor-space);
}

.friend-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}

.friend-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  color: #3c1e1e;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.4s;
}
