.nothing {
  margin: 47px;
}

#friend-display-link {
  background-color: #fafafa;
  padding: 13px;
  width: 100%;
  display: block; /*이걸 해줘야 width 100%가 적용된다. */
  text-align: center;
  margin-bottom: 10px;
}

#friend-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friend-screen {
  padding: 0px var(--hor-space);
}

.friend-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}

.friend-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
