.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1.5px solid rgba(175, 175, 175, 0.5);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2f363e;
}

@keyframes notification {
  0% {
    transform: 0;
  }
  50% {
    transform: translateY(-10px) rotateY(180deg);
  }
  100% {
    transform: 0;
  }
}

.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notification 2s ease-in-out infinite;
}

@keyframes NavAnimation {
  from {
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(70px);
  opacity: 0;
  animation: NavAnimation 0.5s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.1s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.2s;
}
.nav__btn:last-child {
  animation-delay: 0.4s;
}
