.status-bar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 5px 3px; /*스타투스바의 위,아래에 패딩을 준다*/
}

.status-bar__columm {
  width: 33%;
}
.status-bar__columm:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__columm:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__columm .fa-battery-full {
  margin: 0px 5px;
}
